POSTGRES_USER=someuser
POSTGRES_PASSWORD=somepassword
POSTGRES_DB=somedbname
DATABASE_URL=postgresql+asyncpg://POSTGRES_USER:POSTGRES_PASSWORD@localhost:5432/POSTGRES_DB
HA_BASE_URL=http://homeassistant.local:8123
